DEEPSEEK_API_KEY=填写你的DeepSeekKey
DEEPSEEK_MODEL=deepseek-v4-flash
DEEPSEEK_THINKING=enabled
DEEPSEEK_REASONING_EFFORT=medium
DEEPSEEK_TIMEOUT_MS=80000
DEEPSEEK_REVIEW=enabled
PORT=8787
WECOM_BOT_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=你的key
